@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: 'Source Sans Pro';
    background: #eee;
    border-color: #eee;
}

header {
    font-family: 'Abril Fatface';
}

.newspaper-container {
    background-color: white;
    box-shadow: 5px 10px 5px #ddd;
    width: 700px;
    border-radius: 10px;
    padding: 1em;
    margin: 3em auto;
}

main h5 {
    color: red;
}

a {
    color: #777;
    text-decoration: none;
}

h1 {
    text-align: center;
}

p {
    font-size: 0.9em;
    padding: 0 10px;
    text-align: justify;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    margin-left: -25px;
}

nav {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: lightgray;
    border-bottom-color: lightgray;
    position: sticky;
    top: 0px;
    background: white;
}

.more-articles {
    border-top: 1px solid #eee;
    margin-top: 1.5em;
    text-align: center;
}

.more-articles section {
    display: inline-block;
    width: 45%;
    margin: 0 1em;
}